.point{color: #ef4e29;}
.Language{position: relative;font-size: 1em;color: white;margin: 0 1rem}
.lan_title{cursor: pointer; border-radius: .8em;
     border: 1px solid #ced4da;
     padding: .5rem .6rem;
     color: #727a82;
     background: white;
     font-weight: bold;
 }
.lan_title span{margin-right: .5rem;}
.lan_more{position: absolute;
    background: white;
    border-radius: 15px;
    top: 2.7em;
    width: 100%;
    color: #2c3e50;
    overflow: hidden;
    display: none;
    /*border: 1px solid #ced4da;*/
    box-shadow: 0 0 15px #706a6a;
}
.lan_more p{margin: 0;
    padding: .8rem .2rem;
    text-align: center;
    cursor: pointer;
}
.lan_more p:hover{
    background: #727a82;
    color: white;
}
.tour{cursor: pointer;}
.tour:hover{color: blue;}
#map{
    height: 36em;
    width: 100%;display: none;
}
#text_img{
    width: 45%;
    height: 20rem;
    border-radius: 19rem;
    margin: auto;
}
#text_img img{width: 100%}
.text_content{
    font-weight: bold !important;
    margin-bottom: 2rem !important;
}
.btn_upload{
    width: 15%;
    margin: 1rem auto;
    background: #6c9aca;
    padding: .5rem 0;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}
#input_File,#input_fullName,#input_gender,#input_age,#btn_submitInfo{display: none;}
#default_img,#text_img{
    display: none;
}
img#default_img {
    width: 50%;
    margin: auto;
}
header{padding: 0 !important; position: relative;}
header .slider div{width: 100%;min-height:40rem; } 
#div_Logo{
    position: absolute;bottom: 2rem;left: 8rem;
}
#li_person,#li_more{position: relative;}
#div_person,#div_more{position: absolute;
    background: white;
    border-radius: 15px;
    top: 3em;
    width: 130%;
    color: #2c3e50;
    overflow: hidden;
    display: none;
    z-index: 10;
    box-shadow: 0 0 15px #706a6a;
}
#div_person p,#div_more a{margin: 0;cursor: pointer; display: block;width: 100%;
    padding: 1rem 1rem;
}
#div_person p:hover,#div_more a:hover{background: #2c3e50; color: #1abc9c !important;}
#div_more{
    min-width: 12rem;
}
#div_more a{
    color: #2c3e50 !important; text-decoration: none;
}
.tourPlace .downPlace {

}
.downPlace p{
    font-family: auto;
}
.openClickHere{
    color: #bf1717;
    font-style: italic;
    cursor: pointer;
}
.openClickHere:hover{
    text-decoration: underline;
    color: red;
}
.openChangePass{
    display: none;
}
.openItems{
    display: none;
}
.modal-body {
    padding-top: 1rem;
}
#file_name{
    display: none;
    margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.openScroll {
    overflow-y: auto;
    max-height: 20rem;
    padding: 1em 2rem;
    margin-bottom: 2rem;
    padding-top: 0;
    padding-right: 0;
}
.hightly_div_child {
    display: block;
    overflow: hidden;
    border-radius: 15px;
}
.hightly_div_child {
    width: 100%;
    margin: auto;
    position: relative;
    cursor: pointer;
}
.hightly_div_child:hover:before {
    background: rgba(0,0,0,0.4);
}
.hightly_div_child:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 15;
}
.tourContent{z-index: 10;}
.hightly_div_child:hover .tourContent {
    line-height: 4em;
}
.hightly_div_child:hover img{
    transform: scale(1.2);
}
.hightly_div_child .tourContent {
    color: white;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,.6);
    width: 100%;
    text-align: center;
    line-height: 3em;
    font-weight: 700;
    margin: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.hightly_div_child img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    transition: transform 2s;
}
#div_loadMore{margin:2rem auto;text-align: center;}
#loadMoreTour{
    font-size: 2rem;
    font-weight: bold;
    font-family: auto;
    font-style: italic;

}
#loadMoreTour:hover{
    text-decoration: none;
    font-style: inherit;
}
p.tourName {
    font-size: 19px;
    font-weight: bold;
    padding-left: 1rem;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.hightly_div_child:hover svg {
    transform: rotate(180deg);
}
.portfolio-modal-title
{
    line-height: 3.5rem !important;
    margin-top: .5rem !important;
}
.modaldetail_Place p{text-align: justify !important;}
p{font-family: auto !important;}
h2{line-height: 3.5rem !important;}
.page-section {
    padding: 8rem 0;
}
.child_header{
    padding: .4rem 0;display: flex;
    justify-content: center;
    background: white;
}
#searchPlace{
    width: 100%;
    height: 2.56rem;
}
#div_search{
    width: 25%;
    position: relative;
}
.result_search{
    position: absolute;
    background: white;
    width: 100%;
    box-shadow:  0 0 12px #ced4da;
    border-radius: 0.3em;
    top: 2.5em;
    display: none;
}
.box-header {
    background: white;
    margin: 0 .5rem;
    padding: .5rem .6rem;
    border-radius: .8em;
    min-width: 6rem;
    text-align: center;
    color: #727a82;
    font-size: 16px;
    font-family: auto;
    font-weight: bold;
    border: 1px solid #ced4da;
    cursor: pointer;
}
.box-header:hover{
    background: #497782;
    color: white;
}
ul{
    list-style: none;
}
.result_search ul{
    margin: 0;
    padding: 0;
}
.result_search ul li{
    width: 100%;
    padding: .3rem;
    cursor: pointer;
}
.result_search ul li:hover{
    background: #ced4da;
}
.result_search ul li img{
    width: 2.3em;
    height: 2em;
    border-radius: 0.7em;
    margin-right: .2em;
}
.up_btn {
    background: white;
    padding: 0 1rem;
    border: 1px solid #ced4da;
    border-radius: .3em;
    cursor: pointer;
    color: #1abc9c;
    padding-top: .4em;
}
.up_btn:hover{
    background: #497782;
    color: white;
}
.show_btn{
    width: 4em;
    text-align: center;
    border-top: 0;
    border-radius: 5px;
    display: none;
}
.show_btn a{
    color: #1abc9c !important;
}
.show_btn:hover a{
    color: white !important;
}
.show_btn a i{
    font-weight: bold;
}
.show_btn:hover {
    background: #1abc9c;
}
.big-size > span{
    position: absolute;
    top: 0;
    font-size: 15px;
    margin-left: .5rem;
}
.big-size{
    font-size: 20px;
    margin-bottom: 0;
    padding: .5em 0;
    padding-left: 1em;
    font-weight: 600;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 2em;
    position: relative;
    padding-top: 1em;
    padding-bottom: 0;
    padding-right: 3em;
}
.big-size:hover{
    background: whitesmoke;
    color: #303030;
    font-weight: bold;
}
.detail-tour {
    text-align: left;
    padding-left: 1.5em;
    background: whitesmoke;
    padding-top: .6em;
    padding-bottom: .6em;
    border-top: 1px solid #ed3d3d;
}
.dateCreated_group{
    background: #cecece;
    padding: .4em 0;
    margin-bottom: 0;
}
.dateCreated_group p{margin: 0}
#mainNav{
    /*background: #497782;*/
    background: white;
}
.footer{
    background: #3f6670 !important;
}
.copyright{
    background: #2c3e50 !important;
}
body:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.4);
    top: 0;
    left: 0;
    z-index: 1;
}
.footer,.copyright{
    position: relative;
    z-index: 2;
}
.main-search{
    margin-top: 3em;
}
section, .main-search{
    position: relative;
    z-index: 2;
}
body{padding-top: 3rem;}
section{
    min-height: 40rem;
}
#mainNav{
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.change-background{
    /*background: rgb(12,80,108) !important;
    background: linear-gradient(90deg, rgba(12,80,108,0.7343312324929971) 0%, rgba(10,70,111,0.7651435574229692) 100%) !important;*/
    background: white;
}
/*section{display: none;}
.main-search{
    display: none;
}*/

#personalInfo,#p_logout,#comback_admin
{
    font-family: inherit !important;
}
#detailTour{
    position: absolute;
    right: .5em;
    top: 1em;
}
