html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: Arial,Tahoma,Bitstream Vera Sans,sans-serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
*, ::before, ::after {
  box-sizing: border-box;  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#wrap{
  width: 100%;
  display: flex;
  height: 100vh;
}
#map{
  width: 70%;
}
#control-column{
  position: relative;
  width: 30%;
  box-shadow: -12px 0 12px -12px rgba(0,0,0,.4);
  z-index: 1;
  border-top: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  height: 100%;
  display: flex;
  flex-direction: column;
}


#search-box{
  background-color: white;
  margin-bottom: -0.25em;
  padding: 1.2rem 1.5rem;
  border-top: 1px solid #e2e3e6;
  border-bottom: 1px solid #e2e3e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

#add-waypoints{
  display: none;
  margin-top: 10px;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 7px;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#add-waypoints:active{
  position: relative;
  top:2px;
}

#search-title{
  display: flex;
  font-size: 24px;
}
/* .dropdown-option{
  position: relative;
} */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);;
  right: 24px;
  background-color: white;
}
.dropdown-content a {
  padding: 8px 24px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  color: #343333;
  line-height: 16px;
}
.dropdown-content a:hover{
  text-decoration: none;
  background: #f2f2f2;
  font-weight: 600;
}
#search-input{
  width: 100%;
}

.select2-selection__rendered {
  line-height: 42px !important;
}
.select2-container .select2-selection--single {
  height: 42px !important;
}
.select2-selection__arrow {
  height: 42px !important;
}

.chip {
  margin-top: 10px;
  display: none;
  padding: 0 25px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  height: 36px;
  line-height: 36px;
  box-shadow: 0 1px 6px rgb(60 64 67 / 28%);
}
.chip span{
  font-size: 18px;
}
.chip svg{
  font-size: 1.5em;
}
.chip-icon {
  float: left;
  margin: 3px 6px 0 -12px;
  border-radius: 50%;
}

.chip:active{
  top:1px;
  left: 0.5px;
}



/* .chip:hover{
  width: auto;
} */

#control-content{
  margin-top: 10px;
  padding-top: 0.25em;
  overflow: hidden;   
  overflow-y: auto;
}
#control-content::-webkit-scrollbar {
  display: none;
}
div#location-detail {
    min-height: 350px;
    display: none;
    position: relative;
}
.BacktoTop{
    display: block;
    position: absolute;
    right: 1rem;
    background: #f0f0f0;
    padding: .3rem .9rem;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 6px #9e9292;
    color: #807c82;
    bottom: 1.3em;
}

select#search-input {
    padding: 0.4em;
    border-color: #d4d4d4;
}
select#search-input:focus {
    outline-color: #e4e3e3;
}
div#search-title label {
    font-size: 18px;
    font-weight: 600;
}

#start-locat-container{
  padding: 15px 3rem;
  height: 70px;
  background-color: white;
}

#start-locat{
  height: 40px;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  width: 100%;
  position: relative;
  padding-right: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#start-locat:active{
  margin-top: 2px;
}

#locat-list{
  margin-top: 10px;
  height: 0px;

}

.option-control{
  margin-top: 10px;
  background-color: white;
  padding: 1.2rem 1.5rem;
}

#time-cost-container{
  padding-left: 1em;
  margin-bottom: 1em;
}


#location-detail{
  margin-top: 10px;
  background-color: white;
  padding-bottom: 1rem;
}

#list-container {
  /*position: relative;*/
  /*top: 50%;*/
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  cursor: pointer;
  min-height: 0 !important;
}

.list-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
}

.item-content {
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: black;
  line-height: 70px;
  font-size: 24px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  display: flex;
}

.order{
  width: 10%;
  text-align: center;
  color: white;
  font-weight: bolder;
}
.item-content-text{
  color: black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: white;
  width: 90%;
  padding-left: 0.5em;
  padding-right: 1.6em;
  box-shadow: -2px 0px 3px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-content-close{
  display: inline-block;
  position: absolute;
  right: 0.8em;
  top: 50%;
  transform: translateY(-50%);
}

.item-content-close:hover{
  opacity: 0.7;
}
.item-content-close:active{
  top: 51%;
}


#link-img{
  display: block;
}
.parents-img{
  width: 100%;
  height: 200px;
}
#link-img div img{
  width: 100%;
  height: 100%;
}
.location-detail-content{
  padding: 0 1rem;
  padding-top: .5rem;
  position: relative;
}
.icon-down {
    position: absolute;
    right: .4em;
    top: 1.8em;
    cursor: pointer;
}
.icon-down svg {
    color: #adabab;
    font-size: 1.5rem;
}
.icon-down svg:hover {
    color: #807e7e;
}
.name-place{
  font-size: 20px;
  font-weight: 600;
  color: black;
}
.name-place:hover{
  color: black;
}
.bg-oranges{
  color: orange;
}
.more-infor-place{
  display: none;
}
#show-timeline{
  position: absolute;
  background: white;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  /*transform: translateX(100%);*/
  display: none;
  overflow-y: auto;
}
.translate-none{
  transition: all .3s;
  transform: translateX(0) !important;
}
#show-timeline .close_timeline{
  position: absolute;
    right: .5rem;
    top: 0.3em;
    font-size: 1.5em;
    cursor: pointer;
}
#start-locat svg{
  font-size: 1.3em;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #d4d2d2;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #efeeee;
}

.map-marker-label {
   position: absolute;
   color: #ea4335;
   font-size: 16px;
   text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff;
   width: 210px;
 }

#time-close{
  position: absolute;
  right: 0.5em;
  font-size: 20px;
  cursor: pointer;
}

#time-close:active{
  opacity: 0.5;
}

.datepicker {
  width: 100%;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  background: #fff;
  overflow: hidden;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  border: 1px #ccc solid;
  padding: 0;
  position: relative;
}
.datepicker:before {
  position: relative;
  display: block;
  content: "ï³";
  font-family: FontAwesome;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  margin-left: 8px;
  color: #444;
}

.datepicker input {
  height: 30px;
  padding: 0;
  background: #fff;
  color: #333;
  font-size: 1rem;
  margin: 0;
  border: 0;
  outline: none;
}
.datepicker input:focus {
  outline: 1px lightblue solid;
}

.datepicker div.and {
  margin-top: 1px;
  margin-left: 0.1em;
  margin-right: 0;
  font-weight: bold;
}

.datepicker .startDate {
  padding: 0 5px 0 5px;
  margin: 0 0 0 5px;
}

.datepicker .startDate:required {
  padding-right: 0;
}
.datepicker .startDate:required:invalid {
  width: 200px;
}

.datepicker .endDate {
  padding: 0 5px 0 5px;
  margin: 0;
}
.datepicker .endDate:required {
  max-width: 202px;
}
.datepicker .endDate:required:invalid {
  max-width: 158px;
  display: none;
}

.left{
  margin-bottom: 1em;
}

.left span{
  margin-top: 0.1em; 
  width: 20%;
}

.left > div{
  width: 80%;
}

.right{
  position: relative;
}
.currency{
  position: absolute;
  width: 21%;
  top: -8px;
  left: 20%;
  border: 0;
}

.right > div{
  width: 65% ;
  margin-top: 1em
}
.amount-text{
  color: red;
}

.text_money{
  font-size: 14px;
  margin-left: 1em;
  font-style: italic;
  margin-top: .4em;
}

.right > span{
  width: 20%;
}

.amount-text{
  width: 40% !important;
}
#amount::-webkit-outer-spin-button,
#amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#amount{
    -moz-appearance:textfield;
}

.jdp-input {
    border-radius: .28571429rem;
    border: 1px solid rgba(34, 36, 38, .15);
    cursor: text;
    padding: 0 3px;
    width: 80%;
}

.jdp-input.disabled {
    color: #AAA;
    cursor: default;
}

.jdp-block {
    display: inline-block;
    line-height: 1;
    text-align: center;
    padding:10px;
    font-size: 18px;
    width: 32%;
}
.jdp-block span{
  margin-bottom: 0.1em;
}

.jdp-label {
    font-size: 70%;
}
.timeline {
  display: flex;
  flex-direction: column;
  margin: calc(1.5rem + 20px)  0.5rem calc(1.5rem + 20px) 6.5rem;
  height: 100%;
}
#show-timeline::-webkit-scrollbar {
  display: none;
  width: 0;  /* Remove scrollbar space */
  background: transparent;
}
.timeline__list {
  background: #fff;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 0px;
  border-radius: 8px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.timeline__list__content__title a {
  font-size: 1.5rem;
}
.timeline__list__content {
  padding: 15px 20px;
  width: calc(100% - 160px);
}

.timeline__list__content__title{
  margin-bottom: 0.1em; 
  font-weight: 600 !important; 
  font-size: 1.5rem;
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  color: #9251ac;
}
.timeline__list__date {
  color: #f6a4ec;
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
}
.timeline__picture {
  border-radius: 8px 8px 8px 8px;
  /*height: 12em;
  width: 60em;*/
  background: #9251ac;
  align-items: center;
  justify-content: center;
  /*flex-basis: 40%;*/
  height: 160px;
  width: 160px;
}
.timeline__picture span {
  position: absolute;
  top: 50%;
  color: white;
  font-size: 1.5rem;
  transform: translateY(-50%);
  left: -80px;
}
.timeline__list__description {
  flex-basis: 60%;
  color: #525f7f;
  font-family: "Open Sans", sans-serif;
}
.timeline__list-after {
  content: "";
  width: 4px;
  height: 100%;
  background: #9251ac;
  position: absolute;
  top: 52%;
  left: -3.6rem;
  z-index: -1;
  cursor: pointer;
}
.timeline__list-before {
  content: "";
  width: 5rem;
  height: 5rem;
  position: absolute;
  background: #f6a4ec;
  border-radius: 100%;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%);
  /*border: 2px solid #9251ac;*/
}

.timeline__traveltime{
  position: relative;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.37);
  font-style: italic;
  font-family: Lato,sans-serif;
  font-weight: 500;
}

/*.timeline__traveltime div{
  
}*/

/*.timeline__list--type0:before {
  background: #811411;
  border-color: #811411;
}
.timeline__list--type0-after {
  background: #811411;
}

.timeline__list--type0-after {
  background: #811411;
}

.timeline__list--type0-after:hover {
  box-shadow: 0px 2px 10px 1.5px #811411;
}

.timeline__list--active0-after {
  box-shadow: 0px 2px 10px 1.5px #811411;
}

.timeline__list--type0 .timeline__list__content__title a {
  color: #811411;
}

.timeline__list--type1:before {
  background: #418bca;
  border-color: #418bca;
}
.timeline__list--type1-after {
  background: #418bca;
}

.timeline__list--type1-after:hover {
  box-shadow: 0px 2px 10px 1.5px #418bca;
}

.timeline__list--active1-after {
  box-shadow: 0px 2px 10px 1.5px #418bca;
}

.timeline__list--type1 .timeline__list__content__title a {
  color: #418bca;
}
.timeline__list--type2:before {
  background: #00bc8c;
  border-color: #00bc8c;
}
.timeline__list--type2-after {
  background: #00bc8c;
}

.timeline__list--active2-after {
  box-shadow: 0px 2px 10px 1.5px #00bc8c;
}
.timeline__list--type2-after:hover {
  box-shadow: 0px 2px 10px 1.5px #00bc8c;
}

.timeline__list--type2 .timeline__list__content__title a {
  color: #00bc8c;
}

.timeline__list--type3:before {
  background: #f89a14;
  border-color: #f89a14;
}
.timeline__list--type3-after {
  background: #f89a14;
}

.timeline__list--type-after:hover {
  box-shadow: 0px 2px 10px 1.5px #f89a14;
}

.timeline__list--active3-after {
  box-shadow: 0px 2px 10px 1.5px #f89a14;
}

.timeline__list--type3 .timeline__list__content__title a {
  color: #f89a14;
}
.timeline__list--type4:before {
  background: #ef6f6c;
  border-color: #ef6f6c;
}
.timeline__list--type4-after {
  background: #ef6f6c;
}

.timeline__list--type4-after:hover {
  box-shadow: 0px 2px 10px 1.5px #ef6f6c;
}

.timeline__list--active4-after {
  box-shadow: 0px 2px 10px 1.5px #ef6f6c;
}

.timeline__list--type4 .timeline__list__content__title a {
  color: #ef6f6c;
}
.timeline__list--type5:before {
  background: #5bc0de;
  border-color: #5bc0de;
}

.timeline__list--type5 .timeline__list__content__title a {
  color: #5bc0de;
}
.timeline__list--type5-after {
  background: #5bc0de;
}

.timeline__list--type5-after:hover {
  box-shadow: 0px 2px 10px 1.5px #5bc0de;
}

.timeline__list--active5-after {
  box-shadow: 0px 2px 10px 1.5px #5bc0de;
}*/

.timeline__list-lastelement > .timeline__list-after {
  content: none;
  background: none !important;
}

@media (max-width: 786px) {
  .timeline__list {
    flex-direction: column;
  }

  .timeline__list__icon {
    border-radius: 4px 4px 0 0;
  }
}

.icon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}

.parent-icon {
    position: relative;
    border: 1px solid black;
    border-radius: 2rem;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    margin-right: 1rem;
}

.parent-icon svg {
    font-size: 24px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.parent-icon span {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.amount-text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  max-width: 95px;
}

