      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        font-family: "Roboto", "Arial", sans-serif;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

      *, ::before, ::after {
        box-sizing: border-box;
      }
      button#saveTour:hover{
        background: #324f8a;
      }
      #add-button,#get-route{
        border: 0;cursor: pointer;
      }
      #add-button:hover{
        background: #324f8a;
      }
      #get-route:hover{
        background: #38823b;
      }
      .tabcontent{
        margin: 0.5%;
        height: 98%;
        /*float: left;*/
        width: 78%;
        background-color: white;
        border: 1px solid #e2e3e6;
        border-radius: 8px;
      }

      #wrap{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        /*background-color: #f5f5f5;*/
      }

      .control-panel{
        background-color: white;
        margin: 10px 1% 0px 0px;
        /*width: 100%;*/
        text-align: left;
        line-height: 30px;
        padding: 0px 20px;
        border: 1px solid #e2e3e6;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
        /*float: right;*/
      }
      #control-panel{
        /*float: right;*/
        width: 21%;
        height: 100%;
        overflow: scroll;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
      #control-panel::-webkit-scrollbar {
        display: none;
      }

      .control-panel>b{
        color: red;
      }

      #search-panel {
        height: auto;       
        font-size: 15px;
        position: relative;
      }

      #search-panel-control{
        height: 100px;
        width: 98%;
      }

     

      #search-panel button {
        padding: 7px 5px;
        width: 49%;
        font-size: 18px;
        border-radius: 5px;
      }

      #search-panel select {
        width: 86%;
        border:none;
        appearance: none;
        border-right: 1px solid #e2e3e6; 
      }

      #add-button{
        background-color: #4267b2;
        color: white; 
      }

      #get-route{
        background-color: #4caf50;
        color: white; 
      }

      #your-start{
        position: relative;
        min-height: 40px;
        width: 97%;
        border: 0px solid rgba(123, 123, 123, 0.498039);
        border-radius: 4px;
        color: white;
        line-height: 40px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 400;
        background-color: #ea4335;
        box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
        margin-bottom: 5px;
      }

      #your-start-close{
        color: white;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        right: .5rem;
      }
      .container {
        position: absolute; 
        margin: 0px 20px !important;
        left: 50%;   
        width: 100%;
        height: auto;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      } 

      .list-item {  
        position: absolute;
        float: left;
       /* top: 0;
        left: 0; */ 
        height: 40px;
        width: 90%;  
        z-index: -10px;
      }

      .item-content {
        height: 100%;
        width: 97%;
        border: 0px solid rgba(123, 123, 123, 0.498039);
        border-radius: 4px;
        color: rgb(153, 153, 153);
        /*color: white;*/
        line-height: 40px;
        padding-left: 15px;
        font-size: 18px;
        font-weight: 400;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
        overflow: hidden;
        position: absolute;
      }

      #select-box{
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
        height: 40px;
        padding: 5px 0 5px 20px;
        position: relative;
        margin: 10px -10px;
      }

      /*#drop-down-arow{
        position: absolute;
        top: 10px;
        left: 80%;
        color: #b3b3b3;
        font-size: 20px;
      }*/


      #select-box-reset{
        height: auto;
        width: auto;
        float: right;
        margin-right: 11px;
      }
      .fa-undo{
        color: #b3b3b3;
      }
 

     /* #select-box-reset::after{
        content: '';
        display: block;
        background-image: url(//maps.gstatic.com/tactile/omnibox/clear-1x-20150504.png);
        height: 24px;
        width: 24px;        
      }*/

      #select-box-reset:hover{
        opacity: 0.7;
      }   

      #options-control{
        /*height: 122px;*/
        overflow: scroll;
        overflow-x: hidden;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        position: relative;
      } 

      #options-control-title {
        margin: 20px 0 5px 10px;
        line-height: 24px;
        font-size: 24px;
        border-bottom: 2px solid #cfcece;
        width: 100%;
      }  

      .options-list{
        margin: 0 10px 10px 10px;
        /*display: none;*/
        border-top: 2px solid #cfcece;
      }

      .options-list1{
        border: none;
      }

      .slider-button{
        color: #adadad;
        height: 20px;
        width: 20px;
        padding: auto;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        border:none;
        background-color: white;
      }

      .slider-button:hover{
        color: #679df6;
      }

      .slider-button-left{
        left: 2px;
      }

      .slider-button-right{
        right: 5%;
      }

      #start-location{
        width: 100%;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
        border-radius: 4px;
        border-bottom: 1px solid transparent;
        padding: 6px 10px;
      }

      .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #4CAF50;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
      }

      #switch-tab{
        height: 50px;
        position: relative;
      }
      #switch-tab::before{
        top: 10px;
        bottom: 10px;
        position: absolute;
        content: ' ';
        width: 2px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1px;
      }

      .tablinks{
        height: 100%;
        width: 50%;
        line-height: 24px;
        font-size: 24px;
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
      }

      .active {
        color: #1a73e8;
      }

      /*.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }*/

      /* Style the buttons inside the tab */
      /*.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        width: 50%;
      }*/

      /* Change background color of buttons on hover */
      /*.tab button:hover {
        background-color: #ddd;
      }*/

      /* Create an active/current tablink class */
     /* .tab button.active {
        background-color: #ccc;
      }*/
      
      
      

      

      

      .tooltiptext {
        visibility: hidden;
        width: 90%;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -45%;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .list-item:hover .item-content{
        height: auto;
        overflow: visible;
        z-index: 10px;
      }
      .closebtn {
        /*padding-left: 10px;*/
        color: #727272;;
        font-weight: bold;
        float: right;
        font-size: 20px;
        cursor: pointer;
        position: relative;
        right: 10px;
      }

      .closebtn:hover {
        color: #000;
      }
      .switch {
          margin-top: 5px;
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        .switch input { 
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 34px;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
          border-radius: 50%;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }

        #timeline{
          overflow: scroll;
          overflow-x: hidden;
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
        }
        .row{
          padding: 20px;
        }
    
        .timeline {
            list-style: none;
            padding: 20px 0 20px;
            position: relative;
        }

        .timeline:before {
            top: 0;
            bottom: 0;
            position: absolute;
            content: ' ';
            width: 3px;
            background-color: #eeeeee;
            left: 50%;
            margin-left: -1.5px;
        }

        .timeline > li {
            margin-bottom: 20px;
            position: relative;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: ' ';
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: ' ';
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); 
        }

        .timeline-panel{
          overflow: hidden;
          max-height: 185px;
        }

        .show-more{
          color: #b3b3b3;
          position: absolute;
          bottom: 0;
          right: 10px;
        }
        .show-more:hover{
          opacity: 0.7;
          cursor: pointer;
        }

        .timeline > li > .timeline-panel:before {
            position: absolute;
            top: 26px;
            right: -15px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid #ccc;
            border-right: 0 solid #ccc;
            border-bottom: 15px solid transparent;
            content: ' ';
        }

        .timeline > li > .timeline-panel:after {
            position: absolute;
            top: 27px;
            right: -14px;
            display: inline-block;
            border-top: 14px solid transparent;
            border-left: 14px solid #fff;
            border-right: 0 solid #fff;
            border-bottom: 14px solid transparent;
            content: ' ';
        }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #418bca;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

        .timeline > li.timeline-inverted > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        .timeline > li.timeline-inverted > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }


        /* Add a hover effect if you want */
        .fa:hover {
          opacity: 0.7;
        }

        /*.fa-cutlery{
          background: #418bca;
          color: white;
          padding: 15px;
          height: 45px;
          width: 45px;
          text-align: center;
          border-radius: 50%;
          float: left;
        }*/
        /*.restaurant-find{
          height: auto;
          width: 100%;
          padding: auto;
        }*/
        .nearby-find{
          width: 100%;
          display: flex;
        }
      .nearby-find-content{
        width: 25%;
        margin: auto;
        position: relative;
      }
      .nearby-find-icon{
        display: inline-block;
        width: 3.25rem;
        height: 3.25rem;
        border: 2px solid black;
        justify-content: center;
        align-items: center;
        margin: auto;
        border-radius: 2rem;
        font-size: 1.25rem;
        padding: 10px;
        cursor: pointer;
        float: left;
      }
      .nearby-find-text{
        float: left;
      }

        /*.restaurant-pick select{
          width: 100%;
        }*/
           
        .restaurant-select{
          height: 45px;
          padding-left: 10px;
          margin-left: 45px;
        } 
        .restaurant-select select{
          width: 50px;
          border:none;
        }

        .timeline-badge.primary {
            background-color: #ef6f6c !important;
        }

        .timeline-badge.success {
            background-color: #5bc0de !important;
        }

        .timeline-badge.warning {
            background-color: #f89a14 !important;
        }

        .timeline-badge.danger {
            background-color: #00bc8c !important;
        }

        .timeline-badge.info {
            background-color: #f89a14 !important;
        }

        .timeline-title {
            margin-top: 0;
            color: inherit;
            white-space: pre-wrap;
        }

        .timeline-body > p,
        .timeline-body > ul {
            margin-top: 15px;
        }

        .timeline-body > p + p {
            /*margin-top: 5px;*/
        }

        .labels {
          color: white;
          background-color: red;
          font-family: "Lucida Grande", "Arial", sans-serif;
          font-size: 10px;
          text-align: center;
          width: 30px;
          white-space: nowrap;
        }
       .map-marker-label {
         position: absolute;
         color: #ea4335;
         font-size: 16px;
         text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff;
         width: 210px;
       }

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

