
#header_place,#header_place:hover{
	color: #fff !important;
	background: #1abc9c !important;
}
.detail-content{
    display: flex;
}
.detail-content-left{
    width: 60%; padding: 0 .4rem;
    padding-right: 1rem;
}
.detail-content-right{
    width: 40%;  padding: 0 .4rem;
}
.mx-auto{
    position: relative;
    height: 21em;
    border-radius: 20em;
    width: 21em;
}
.mx-auto p{
    position: absolute;
    color: white;
    font-weight: bold;
    top: 7em;
    z-index: 2;
    font-size: 22px;
    width: 100%;
    text-align: center;
}
.mx-auto:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(147 144 144 / 40%);
    z-index: 1;
    border-radius: 15em;
}
.mx-auto:focus {
    outline: none;
}
.downPlace:focus {
    outline: none;
}
.mx-auto{
    cursor: pointer;
}