body{
  position: relative;
}
.menu_siteBar{
  position: fixed;
  top: 0;
  max-height: 5rem;
  background: #2c3e50;
  padding: 1rem 8rem;
  width: 100%;
  z-index: 1000;
  display: flex;
}
.menuDashboard ul{
  list-style: none;
  display: flex;
}
.menu_content{
  display: none;
}
.logoDashboard{width: 25%}
.logoDashboard a{
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: white;
  padding-top: .7rem;
  line-height: inherit;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  width: 100%;
  height: 100%;
  text-align: center;
}
.logoDashboard a:hover{
  text-decoration: none;
}
.menuDashboard{width: 63%}
.menuDashboard ul{
  margin: 0;
  margin-left: auto !important;
  float: right;
}
.menuDashboard li{
  padding: 0 1.2rem;
  padding-top: 1rem;
  text-align: center;
  height: 100%;
  margin-right: 1rem;
  padding-bottom: 1rem;
  border-radius: .5rem;
}
.li_menu_start{background: #1abc9c;}
.menuDashboard li p{
  display: inline-block;
  color: white;
  font-weight: 700;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  margin: 0;
  cursor: pointer;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.menu_title_acc:hover{
  color: #1abc9c;
}
.menu_title_start:hover{color: white;}

.lan_title span {
    margin-right: .5rem;
    font-size: 1rem;
    font-weight: 700;
}


.li_menu_acc{position: relative;}
.menu_content{
  position: absolute;
  top: 3.5em;
  border-radius: 12px;
  overflow: hidden;
}
.menu_content p{
  color: #2c3e50 !important;
  padding: .7rem .5rem;
  background: white;
}
.menu_content p:hover{
  background: #2c3e50;
  color: white !important;
}

#saveTour {
  display: none;
}
.footer h4{
  font-size: 1.5rem !important;
}
.footer_div{width: 33.3333%;text-align: center;font-family: auto}
.footer_div h4{
  font-weight: bold;
  font-size: 1.5rem;
}
.footer_div p{
  font-size: 19px;
}
.content_footer_2{
  display: flex;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
}
.content_footer_2 .icon_content{
    display: inline-block;
    width: 3.25rem;
    height: 3.25rem;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 2rem;
    font-size: 1.25rem;
    padding-top: 10px;
    cursor: pointer;
}
.content_footer_2 .icon_content:hover{
  background: #1a252f;
  color: white;
}
.content_footer_2 i{
  font-size: 20px;
}
.Copyright{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  background: #1a252f;
  color: white;
}


#text_img{
    width: 45%;
    height: 20rem;
    border-radius: 19rem;
    margin: auto;
}
#text_img img{width: 100%}
.text_content{
    font-weight: bold;
    margin-bottom: 2rem;
}
.btn_upload{
    width: 15%;
    margin: 1rem auto;
    background: #6c9aca;
    padding: .5rem 0;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    display: none;
}
#input_File,#input_fullName,#input_gender,#input_age,#btn_submitInfo{display: none;}
#default_img,#text_img{
    display: none;
}
img#default_img {
    width: 50%;
    margin: auto;
}
header{padding: 0 !important; position: relative;}
header .slider div{width: 100%;min-height:40rem; } 
#div_Logo{
    position: absolute;bottom: 2rem;left: 8rem;
}
.openClickHere{
    color: #bf1717;
    font-style: italic;
    cursor: pointer;
}
.openClickHere:hover{
    text-decoration: underline;
    color: red;
}
.openChangePass{
    display: none;
}
.openItems{
    display: none;
}
.modal-body {
    padding-top: 1rem;
}
#file_name{
    display: none;
    margin: 0 auto;
}
.content_footer_1{
  margin-top: 1rem;
}
.content_footer_1 p{
  margin: 0;
}
#map{
  min-height: 50rem;
}
.menu_siteBar{box-shadow: 0px 6px 20px #a3a0a0;}
#search-panel .container{
  padding: 0;
  padding-top: .5rem;
}
.Update_img_tour {
    width: 100%;
    text-align: center;
    background: #3e3eff;
    padding: .5rem 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 2rem;
}
.Update_img_tour:hover {
    background: #0b0b9f;
}
#img_input_Rank,.name_file_tour{display: none;}
#oldImageTitle,#oldImageContent{
  display: none;
}
a#btn-rating {
    display: none;
}
.short-des{
  margin-bottom: 1em;
}
#short_des,#description{
  font-weight: normal;
}
