#detail_location span{
  display: block;
}
.startlocat_class{
  width: 10rem !important;
}
#site_searchtour a {
    background: lightblue !important;
    color: #117964 !important;
}
#div_1,#div_2,#div_3,#div_4{
  cursor: pointer;
  border-bottom-color: white;
  border-top-color: white;
  border-right-color: white;
}
p{margin: 0}
th,td{text-align: center;}
td.detaillocat_class{
  text-align: justify;
}
.search_nav_menu{
  display: flex;
  height: 2.5em;
  line-height: 2.5em;
}
.search_nav_menu div{
  height: 100%;
  padding: 0 .5em;
  border-top-width: 0;
  cursor: pointer; 
  color: #6093ff;
  font-weight: 600;
  transition: all .5s;
}
.search_nav_menu div:hover{
  background: #e7e6e6;
}
.search_box1{
  background: #e7e6e6;
}
.search_content{
  padding: 2em 1em;
}
.right_block{
  display: none;
}
#btn_searchforcost{display: none;}
#ModalSearch .modal-body{
  padding-bottom: 2em !important;
}
#ModalSearch .modal-footer{
  padding: 0em .5em 1em .5em !important;
}
.block_minimum,.block_maximum{display: flex;position: relative;}
.block_minimum > span,.block_maximum > span{
  font-size: 1.2rem;width: 20%;
}
.detail_money {
    position: absolute;
    bottom: -1.4em;
    left: 16%;
    color: red;
    font-style: italic;
    font-size: 14px;
}
.detail_money_minimum,.detail_money_maximum{display: none;}