.page-section {

}
.img-fluid{max-height: 24rem;}
.imgPlace{
    width: 100%;
    max-height: 30rem;
    margin: auto;
    text-align: center;
}
.opSelection {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.opSelection div {
    padding: .6rem 2.4rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-right: 1rem;
}
.opSelection .showMap{
    background: rgb(87,164,210);
    background: linear-gradient(90deg, rgba(87,164,210,1) 0%, rgba(70,104,252,1) 26%, rgba(84,176,232,1) 66%, rgba(14,180,219,1) 100%);
}
.opSelection .showImage{
    background: rgb(255,197,19);
    background: linear-gradient(90deg, rgba(255,197,19,1) 0%, rgba(252,185,70,1) 26%, rgba(232,186,84,1) 66%, rgba(218,219,14,1) 100%);
}
.opSelection .showMap:hover{
    background: rgb(69,130,167);
    background: linear-gradient(90deg, rgba(69,130,167,1) 0%, rgba(54,78,182,1) 26%, rgba(60,126,166,1) 66%, rgba(8,142,173,1) 100%);
}
.opSelection .showImage:hover{
    background: rgb(161,167,69);
    background: linear-gradient(90deg, rgba(161,167,69,1) 0%, rgba(182,157,54,1) 26%, rgba(166,142,60,1) 66%, rgba(173,163,8,1) 100%);
}
#map {width: 90% !important;margin: auto;height: 25rem !important}
#detail_location span,#startLocation{cursor: pointer;}
#detail_location span:hover,#startLocation:hover{color: red;text-decoration: underline;font-style: italic;}
.div_parents{position: relative;}
.div_parents p {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    text-align: center;
    height: 4.5rem;
    line-height: 4.5rem;
    background: rgb(0,0,0,.3);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    font-style: italic;
}
#div_btn{
    display: flex;justify-content: center;
    margin-bottom: 1rem;
}
#div_btn button,#div_btn a{
    width: 40%;
    margin-right: 5px;
}

/*search tour*/
#sitebar{
    padding: 0 0 0 5rem;
    width: 30%;
}
#sitebar ul{list-style: none; padding-left: 0}
#sitebar ul li a{
    display: block;
    background: #f2fcff;
    width: 100%;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
    font-weight: bold;
    font-size: 23px;
    font-family: cursive;
}

#sitebar ul li a:hover{
    background: lightblue;
    text-decoration: none;
}
#site_searchTitle,#site_selectMon,#site_total_time,#site_searchName{
    display: block;
    background: #f7f7f7;
    line-height: 30px;
    border-bottom: 1px solid #eeeeee;
    font-size: 13px;
    font-weight: bold;
    padding-left: 2rem;
    font-size: 16px;
    border: 1px solid #cacaca;
}
#site_selectMon,#site_total_time{
    margin-top: 2rem;
}
#content_search,#content_totalName,#content_searchName{
    font-size: 12px;
    padding: 1em 0 .9em 2em;
    border: 1px solid #cacaca;
    border-top: 0;
    font-size: 14px;
    color: #054000;
    background: white;
}
#site_searchTitle{margin-top: 2em;}
#content_searchName{
    padding-right: 2em;
}
#content_search span,#content_totalName span{cursor: pointer;}
#content_search span:hover,#content_totalName span:hover{text-decoration: underline;
    color: #1abc9c;
}
#content_select{
    height: 95px;
    font-size: 12px;
    padding-top: 16px;
    padding-left: 15px;
    border: 1px solid #cacaca;
    border-top: 0;
    font-size: 14px;
    color: #054000;
    text-align: center;
    background: white;
}
#content_select input{
    width: 70%;
    margin: auto;
}
#main-page{
    margin-bottom: 5rem;
}
.left span{
    display: block;
    width: 100%;
}
#page_title{
    transition: all .5s;
    padding-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
}
#main-page{
    display: flex;
}
#main{
    width: 70%;
}
.div_parent{
    padding: 1rem;
    padding-top: 0;
}
.text-xs {
    font-size: 13px;
}
.border-left-primary {
    border-left: 4px solid #1abc9c;
}
.border-left-success
{
    border-left: 4px solid #28a745;
}
.border-left-info
{
    border-left: 4px solid #17a2b8;
}
.border-left-warning
{
    border-left: 4px solid #ffc187;
}
.text-gray-800 {
    font-size: 16px;
    color: #787878;
}
#search_advan{
    padding: 0 1.3rem;
    display: flex;
}
.openModalSearch{
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    color: #1abc9c;
}
.openModalSearch:hover{
    color: #28a745;
}
.search_advan_title{
    font-size: 18px;
    width: 20% !important;
    font-weight: bold;
}
.AllClass_Table .AllClass_Table_title {
    border-radius: 3px 3px 0 0;
    margin-top: 1rem;
    padding: .5rem;
    background: #f8f9fc;
    text-align: center;
}
.AllClass_Table .AllClass_Table_content {
    width: 100%;
    background: white;
    margin: 1rem auto;
    margin-top: 0;
    border-radius: 0 0 3px 3px;
    padding: 1.5rem;
}
.AllClass_Table {
    margin: 0 1.3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.AllClass_Table .AllClass_Table_title p {
    color: #4e73df;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
}
.tour_infor{display: flex; padding: 0 1.3rem;}
.tour_infor_left {
    width: 60%;
    padding: 0 .5rem;
}
.tour_infor_right{
    width: 40%;
    padding: 0 .5rem;
}
#detail_title{
    padding: 0 1.3rem;
    margin-top: 5rem;
}
div#Table_AllClass_filter {
    float: right;
}
.pagination{
    float: right;
}
.AllClass_Table{display: none;}
#Table_AllClass tr{
cursor: pointer;
}
#Table_AllClass .id_class{
display: none;
}
#p_votes{display: none;}
#detail_title,.tour_infor{display: none;}
.list_location{
display: none;
}
.list_location span {
  display: block;
  max-width: 100%;
  background: #4aedb7;
  padding: .5rem 0.5rem;
  border-radius: 1.3rem;
  position: relative;
}
.list_location span:hover{background: #1abc9c;}
.remove_item {
  position: absolute;
  color: white;
  right: 13px;
  font-size: 25px;
  cursor: pointer;
}
#ModalSearch .modal-footer{display: none;}
.result_search_tour {
    position: absolute;
    background: white;
    width: 80%;
    box-shadow: 0 0 12px #ced4da;
    border-radius: 0.3em;
    top: 4em;
    display: none;
}
.result_search_tour ul {
    margin: 0;
    padding: 0;
}
.result_search_tour ul li {
    width: 100%;
    padding: .3rem;
    cursor: pointer;
}
.result_search_tour ul li img {
    width: 2.3em;
    height: 2em;
    margin-right: .2em;
}
.result_search_tour ul li span {
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    line-height: 2em;
    font-weight: 600;
    margin-left: 4px;
}
.select_id_tour{
    display: flex;
}
.select_id_tour:hover{
    background: #f3f1f1;
}
#content_searchName{position: relative;}