.page-section {
    padding: 10rem 0;
}
.img-fluid{max-height: 24rem;}
.imgPlace{
    width: 100%;
    max-height: 30rem;
    margin: auto;
    text-align: center;
}
.opSelection {
    width: 100%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
}
.opSelection div {
    padding: .6rem 2.4rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-right: 1rem;
}
.opSelection .showMap{
    background: rgb(87,164,210);
    background: linear-gradient(90deg, rgba(87,164,210,1) 0%, rgba(70,104,252,1) 26%, rgba(84,176,232,1) 66%, rgba(14,180,219,1) 100%);
}
.opSelection .showImage{
    background: rgb(255,197,19);
    background: linear-gradient(90deg, rgba(255,197,19,1) 0%, rgba(252,185,70,1) 26%, rgba(232,186,84,1) 66%, rgba(218,219,14,1) 100%);
}
.opSelection .showMap:hover{
    background: rgb(69,130,167);
    background: linear-gradient(90deg, rgba(69,130,167,1) 0%, rgba(54,78,182,1) 26%, rgba(60,126,166,1) 66%, rgba(8,142,173,1) 100%);
}
.opSelection .showImage:hover{
    background: rgb(161,167,69);
    background: linear-gradient(90deg, rgba(161,167,69,1) 0%, rgba(182,157,54,1) 26%, rgba(166,142,60,1) 66%, rgba(173,163,8,1) 100%);
}
#map {width: 90% !important;margin: auto;height: 25rem !important}
#detail_location span,#startLocation{cursor: pointer;}
#detail_location span:hover,#startLocation:hover{color: red;text-decoration: underline;font-style: italic;}