body{background: #f2f2f2 !important}
.slider-nav .slick-center {
    box-sizing: border-box;
    border: 2px solid green;
}
.block_img{
    width: 10em; height: 5em;
}
.block_img{margin-right: 1em;}
.block_img img{
    object-fit: cover;
    width: 100%;height: 100%;
}
.imgPlace img{object-fit: cover;
    width: 100%;
    height: 25em !important;
}
.left_image{position: relative;}
.totalPlace{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: italic;
    z-index: 10;
    width: 9em;
    top: 0;
    height: 3em;
    line-height: 3em;
}
#map{width: 100%;
    height: 25em;
    display: block !important;
}
.rating_comment_title{
    margin-top: 4em;
}
.block_map{
    margin: 2em 6em;
    background: white;
    margin-top: 5em;
}
.block_content{
    max-height: 30em;
    overflow-y: auto;
    margin-bottom: 2rem;
}
#form_fix_comment{
    display: none;
}


/*semantic*/
.div_drop {
    margin-left: 1em;
    margin-bottom: 1em;
}
.div_drop .ui.tag.label, .div_drop .ui.tag.labels .label {
    margin-top: .5em;
    margin-left: 1em;
    position: relative;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0 .28571429rem .28571429rem 0;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.label:first-child {
    margin-left: 0;
}
.div_drop a.ui.label {
    cursor: pointer;
}
.div_drop .ui.label,.div_drop .ui.labels .label {
    font-size: .85714286rem;
}
.div_drop .ui.label {
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #e8e8e8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    -webkit-transition: background .1s ease;
    transition: background .1s ease;
}
.div_drop a {
    color: #4183c4;
    text-decoration: none;
}
.div_drop a.ui.label:hover,.div_drop a.ui.labels .label:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    background-image: none;
    color: rgba(0,0,0,.8);
}
.div_drop .ui.labels a.label:hover:before,.div_drop a.ui.label:hover:before {
    color: rgba(0,0,0,.8);
}
.div_drop .ui.tag.label:before,.div_drop .ui.tag.labels .label:before {
    position: absolute;
    -webkit-transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    transform: translateY(-50%) translateX(50%) rotate(
-45deg
);
    top: 50%;
    right: 100%;
    content: '';
    background-color: inherit;
    background-image: none;
    width: 1.56em;
    height: 1.56em;
    -webkit-transition: none;
    transition: none;
}
.div_drop .ui.tag.label:after,.div_drop .ui.tag.labels .label:after {
    position: absolute;
    content: '';
    top: 50%;
    left: -.25em;
    margin-top: -.25em;
    background-color: #fff!important;
    width: .5em;
    height: .5em;
    -webkit-box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    box-shadow: 0 -1px 1px 0 rgb(0 0 0 / 30%);
    border-radius: 500rem;
}
/*.tag_green{
    background: #1abc9c;
}
.tag_blue{background: #00bde5}
.tag_orange{background: #f1d100}
*/
/* end sematic*/
.block_enter_content{
    position: relative;
}
.icon_camera,.icon_camera_update{
    cursor: pointer;
    font-size: 20px;
    color: #bcbcbc;
    position: absolute;
    right: .5em;
    top: .5em;
}
.input_file_img,.input_file_img_update{display: none;}
.temporary_photo img,.comment_content-image img,.block_image_UsLg img{
    width: 5em;
    height: 5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.comment_content-image img{
    margin-right: 15px;
}
.temporary_photo,.comment_content-image,.block_image_UsLg{
    width: 100%;
    margin-bottom: .5em;
    padding: 0 .5em;
    display: flex;
    margin-top: 1em;
}
.temporary_detail_photo,.block_image_UsLg_photo{
    position: relative;
    width: 5em;
    height: 5em;
    margin-right: 12px;
}
.temporary_detail_icon {
    position: absolute;
    top: -.5em;
    right: -.5em;
    z-index: 2;
    font-size: 19px;
    color: #9f9797;
    cursor: pointer;
    background: white;
    height: 18px;
    border-radius: 40px;
    line-height: 0;
}
.temporary_detail_icon:hover svg{
    font-size: 22px;
    opacity: 0.8;
}